.header-info{
    background-color:black;
    color: white;
    width: 1590px;
    height: 30px;
    font-size: 11px;
    font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
    text-align: left;
    
    letter-spacing: 2px;
    margin-left: 0px;
    padding: 8px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

.nav {
   
    text-transform: lowercase;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
    margin-top: 2px;
    display: flex;
    flex-direction: row;

}

.logo{
    display: flex;
    flex-direction: column;
    width:20px;
    height: 25px;

}

.column{
    display: flex;
    flex-direction: row;
}

.heart{
    margin-left: 30px;
    margin-top: 5px;
    font-size: 20px;
}

.search{
    margin-left: -26px;
    margin-top: 6px;
    z-index: -5px;
}

.bag{
    margin-left: 60px;
    margin-top: 7px;
    font-size: 20px;
}

.searchinput{
    background-color: #e9ecef;
    
}

.video1{
    width: 0px;
    height: 900px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.prn {
    margin-left: 600px;
    margin-top: 50px;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 300;             
}

.but1{
   border: gray;
    text-align: center;
}

.si{
    font-family: Helvetica, Arial, sans-serif;
    font-size:25px;
    letter-spacing:1.5px;
    color:#000000;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 40px;
    /* display: flex;
    flex-direction:column; */

}

